<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Nova declaração' } %>

<%= render 'shared/navbar' %>

<section class="d-flex m-0 align-items-start justify-content-center el min100">
  <div class="bounding generic-form">
    <h1 class="bold">Nova Declaração</h1>
    <%= render 'form', declaracao: @declaracao, path: patient_declaracoes_path, method: :post %>
  </div>
</section>
