<% content_for(:head) do %>
    <meta name="turbolinks-visit-control" content="reload">
<% end %>

<div id="calendar"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/locales/pt-br.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@5.5.0/main.global.min.js"></script>

<%= javascript_include_tag 'calendar', 'data-turbolinks-track': 'reload' %>
