<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Nova Consulta' } %>

<%= render 'shared/navbar' %>
<%= render 'shared/alerts' %>

<style>
  main {
    height: 100%;
  }
</style>

<section class="el min-100 d-flex flex-column">
	<%= render 'register_multiple', patient: @patient, title: 'Nova Consulta' %>
</section>
