<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Gráfico de finanças' } %>

<% content_for(:head) do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<div class="vh100">
  <%= render 'shared/navbar' %>
  <section class="el fill">
    <h6 class="subtitle light my-3">Gráfico de finanças</h6>
    
    <div class="form-row">
      <div class="form-group col-12 col-sm-8 col-lg-3">
        <label for="graph-interval-select">Selecione o intervalo</label>
        <select class="form-control" id="graph-interval-select">
          <option selected value="0">Semanal</option>
          <option value="1">Mensal</option>
          <option value="2">Anual</option>
        </select>
      </div>
    </div>

    <div class="graph" data-select="0" style="display: none;">
      <%= content_tag :div, "", id: "week-graph", data: {graph: week_data} %>
    </div>

    <div class="graph" data-select="1" style="display: none;">
      <%= content_tag :div, "", id: "month-graph", data: {graph: month_data} %>
    </div>
    
    <div class="graph" data-select="2" style="display: none;">
      <%= content_tag :div, "", id: "annual-graph", data: {graph: annual_data} %>
    </div>

  </section>
</div>

<script src="/assets/graphs.js"></script>