<style>
  .logotipo {
    margin-bottom: 30px;
  }

  .logotipo img {
    width: 230px;
    height: 150px;
  }

  .logotipo h2 {
    text-align: center;
    margin: 0 auto;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .logotipo div {
    margin-bottom: 15px;
  }
</style>

<div class="logotipo">
    <div class="row justify-content-center">
      <%= image_tag(logotipo) %>
    </div>

    <% if !current_user.clinic_name.nil? and !current_user.clinic_name.empty? %>
      <h2><%= current_user.clinic_name %></h2>
    <% end %>
</div>