<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Novo laudo' } %>
<% content_for(:head) do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<%= render 'shared/navbar' %>

<section class="d-flex m-0 align-items-start justify-content-center el min100">
  <div class="bounding ojiasasdop">
    <h1 class="bold">Novo Laudo</h1>
    <%= render 'form', laudo: @laudo, path: patient_laudos_path, method: :post %>
  </div>
</section>
