<div class="min100 d-flex flex-column">
    <%= render 'shared/public-navbar-full' %>
    <section id="termos-politica" class="el fill has-bg">
        <h1 class="my-5 d-block text-center title text-green bold">
            Política de privacidade e <br>
            Termos de Uso
        </h1>
        <p id="termos-de-uso" class="bold upper">1. TERMOS DE USO</p>
        <p>Toda a utilização do aplicativo “ELEPHANT – Gerenciamento para psicologia clínica", estão sujeitas aos termos
            e condições estabelecidos abaixo, desde que outros termos de uso sejam aplicáveis em relação ao aplicativo
            “ELEPHANT – Gerenciamento para psicologia clínica". O uso do referido aplicativo constitui o consentimento
            do usuário em cumprir com os termos. Poderemos alterar os termos a qualquer momento, publicando os termos
            alterados neste aplicativo.</p>
        <p class="bold upper">2. ACEITAÇÃO</p>
        <p>Este é um contrato firmado entre você, de agora em diante denominado como usuário, e a “ELEPHANT –
            Gerenciamento para psicologi" CNPJ – 40.081.479/0001-52 ME, e de agora em diante denominada simplesmente de
            ELEPHANT. Este “Termo de Uso de Aplicativo" rege o uso do aplicativo disponibilizado mediante a assinatura
            paga, através de plataforma terceirizada Mercado Pago, para serviços web. Se você não concordar com estes
            termos não use este aplicativo. Você reconhece ainda que analisou e aceitou as condições de uso. Leia-as
            atentamente pois o uso deste aplicativo significa que você aceitou todos os termos e concorda em cumpri-los.
            Este aplicativo é de uso exclusivo para profissionais da psicologia, visto que para o seu registro de
            usuário, faz-se necessário a apresentação do seu número de registro do CRP, tal como para a elaboração dos
            documentos por este aplicativo. Se você não é está credenciado e ativo no CRP, está fazendo uso irregular
            deste aplicativo. </p>
        <p class="bold upper">3. COMUNICAÇÕES ELETRÔNICAS</p>
        <p>Ao visitar o aplicativo ou nos enviar e-mails, você está se comunicando conosco eletronicamente. Você
            concorda em receber comunicações nossas eletronicamente. Entraremos em contato com você por e-mail ou
            postando anúncios neste aplicativo. Você concorda que todos os acordos, notificações, divulgações e outras
            comunicações que fornecemos a você eletronicamente satisfazem todas as exigências legais de que tais
            comunicações sejam por escrito.</p>
        <p class="bold upper">4. DIREITOS AUTORAIS</p>
        <p>Todo o conteúdo deste aplicativo é de propriedade da ou licenciado para a ELEPHANT e é protegido pelas leis
            de direitos autorais do Brasil. A ELEPHANT retém todos os direitos de propriedade do aplicativo. O conteúdo
            da ELEPHANT não pode ser reproduzido, transmitido ou distribuído sem o consentimento prévio, por escrito.
        </p>
        <p class="bold upper">5. MARCAS REGISTRADAS</p>
        <p>As marcas comerciais, marcas de serviço, nomes comerciais e logotipos neste aplicativo são marcas registradas
            da ELEPHANT.</p>
        <p class="bold upper">6. LICENÇA LIMITADA</p>
        <p>A ELEPHANT concede a você uma licença limitada, intransferível, não exclusiva, livre de royalties e revogável
            para o acesso e uso pessoal deste aplicativo, sujeita a estes termos. O aplicativo deverá ser utilizado por
            você, usuário. Este aplicativo e qualquer parte deste documento não podem ser reproduzidos, duplicados,
            copiados, transferidos, vendidos, revendidos, visitados, ou de qualquer outra forma explorados para qualquer
            propósito comercial sem o expresso consentimento por escrito da ELEPHANT. Você não pode enquadrar ou usar
            técnicas de enquadramento para anexar qualquer marca comercial, logotipo ou outras informações protegidas
            (incluindo imagens, texto, layout de páginas e formulários) da ELEPHANT sem o consentimento expresso por
            escrito. Você não pode usar quaisquer material ou qualquer outro “texto oculto" utilizando o nome ou marcas
            da ELEPHANT sem o consentimento expresso por escrito da ELEPHANT. Qualquer uso não autorizado encerrará a
            licença concedida pela ELEPHANT.</p>
        <p class="bold upper">7. ALTERAÇÕES, MODIFICAÇÕES E RESCISÃO</p>
        <p>A ELEPHANT reserva-se no direito de, a qualquer tempo, modificar estes termos seja incluindo, removendo ou
            alterando quaisquer de suas cláusulas. Tais modificações terão efeito imediato. Após publicadas tais
            alterações, ao continuar com o uso do aplicativo, você terá aceitado e concordado em cumprir os termos
            modificados. A ELEPHANT pode, de tempos em tempos, modificar ou descontinuar (temporária ou permanentemente)
            a distribuição ou a atualização deste aplicativo. A ELEPHANT não é obrigada a fornecer nenhum serviço de
            suporte para este aplicativo. O usuário não poderá responsabilizar a ELEPHANT nem seus diretores,
            executivos, funcionários, afiliados, agentes, contratados ou licenciadores por quaisquer modificações,
            suspensões ou descontinuidade do aplicativo.</p>
        <p id="politica-de-privacidade" class="bold upper">8. CONSENTIMENTO PARA COLETA E USO DE DADOS</p>
        <p>Você concorda que a ELEPHANT pode coletar e usar dados técnicos de seu dispositivo tais como especificações,
            configurações, versões de sistema operacional, tipo de conexão à internet e afins. </p>
        <p class="bold upper">9. ISENÇÃO DE GARANTIAS E LIMITAÇÕES DE RESPONSABILIDADE</p>
        <p>Este aplicativo estará em contínuo desenvolvimento e pode conter erros e, por isso, o uso é fornecido "no
            estado em que se encontra" e sob risco do usuário final. Na extensão máxima permitida pela legislação
            aplicável a ELEPHANT e seus fornecedores isentamse de quaisquer garantias e condições expressas ou
            implícitas incluindo, sem limitação, garantias de comercialização, adequação a um propósito específico,
            titularidade e não violação no que diz respeito ao aplicativo e qualquer um de seus componentes ou ainda à
            prestação ou não de serviços de suporte. A ELEPHANT não garante que a operação deste aplicativo seja
            contínua e sem defeitos. Exceto pelo estabelecido neste documento não há outras garantias, condições ou
            promessas aos aplicativos, expressas ou implícitas, e todas essas garantias, condições e promessas podem ser
            excluídas de acordo com o que é permitido por lei sem prejuízo à ELEPHANT e seus colaboradores. </p>
        <p>I. A ELEPHANT não garante, declara ou assegura que o uso deste aplicativo será ininterrupto ou livre de erros
            e você concorda que a ELEPHANT poderá remover por períodos indefinidos ou cancelar este aplicativo a
            qualquer momento sem que você seja avisado.</p>
        <p>II. A ELEPHANT não garante, declara nem assegura que este aplicativo esteja livre de perda, interrupção,
            ataque, vírus, interferência, pirataria ou outra invasão de segurança e isenta-se de qualquer
            responsabilidade em relação à essas questões. Você é responsável pelo backup das informações geradas e
            baixadas no seu dispositivo.</p>
        <p>III. Em hipótese alguma a ELEPHANT, bem como seus diretores, executivos, funcionários, afiliadas, agentes,
            contratados ou licenciadores responsabilizar-se-ão por perdas ou danos causados pelo uso do aplicativo. </p>
        <p>IV. Os conteúdos transmitidos pelos aplicativos tais como a transmissão da programação de rádios AM, FM,
            programações televisivas e afins são de responsabilidade de seus idealizadores. A ELEPHANT isenta-se de
            qualquer responsabilidade direta ou indireta sobre estes conteúdos e o acesso é facultativo ao usuário.</p>
        <p>V. A ELEPHANT não cria qualquer tipo de informação sobre o paciente ou usuário do sistema, todas as
            informações contidas nos documentos gerados, são inseridas manualmente pelo usuário e de total
            responsabilidade do mesmo. </p>
        <p>VI. Os documentos serão arquivados por uma data limite de cinco anos, conforme a Resolução CFP n.º 01/2009.
            Após esse prazo, todos os documentos anexados no sistema serão apagados, sem qualquer pena ou
            responsabilidade da ELEPHANT.</p>
        <p>VII. Toda e qualquer utilização dessa plataforma pelo usuário, deverá estar em acordo com a RESOLUÇÃO CFP
            06/2019, assim como o código de ética da profissão de Psicóloga(o), sobre a total responsabilidade do
            usuário assinante, ciente e acordado no atual termo.</p>
        <p>VIII. Em caso de inadimplência da assinatura mensal, o usuário terá a interrupção do acesso aos arquivos anexados e/ou criados por ele na plataforma e as demais ferramentas.</p>
        <p>IX. O Tempo de uso da licença se inicia após a realização do pagamento da assinatura e da efetivação do usuário no sistema, o prazo será computado em dias corridos.</p>
        <p class="bold upper">10. ISENÇÃO DE GARANTIAS E LIMITAÇÃO DE RESPONSABILIDADE</p>
        <p>Este aplicativo é fornecido pela ELEPHANT “conforme está" e “conforme disponibilizado". A ELEPHANT não faz
            representações ou garantias de qualquer tipo, expressas ou implícitas, quanto à operação deste aplicativo,
            ou às informações, conteúdo ou materiais incluídos no mesmo. Você concorda expressamente que o uso deste
            aplicativo está sob sua própria conta e risco. </p>
        <p>Campos dos Goytacazes, 04 de Dezembro de 2020.</p>
    </section>
</div>