.card-home {
  border: none !important;
  border-radius: .5rem !important;
  background-color: var(--lite-green) !important;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-home .card-body > i{
  display: block !important;
  font-size: 3rem;
  color: var(--dark);
  margin-bottom: 1rem;
  text-align: center !important;
}

.card-home{
  cursor: pointer;
}

.card-home:hover{
  transform: translateY(-10px);
}

@media screen and (min-width: 1569px){
  .card-deck-home {
    width: 50%;
  }
}

@media screen and (max-width: 1568px){
  .card-deck-home {
    width: 60%;
  }
}

@media screen and (max-width: 1408px){
  .card-deck-home {
    width: 65%;
  }
}

@media screen and (max-width: 1261px){
  .card-deck-home {
    width: 70%;
  }
}

@media screen and (max-width: 1200px){
  .card-deck-home {
    width: 75%;
  }
}

@media screen and (max-width: 1116px){
  .card-deck-home {
    width: 80%;
  }
}

@media screen and (max-width: 1056px){
  .card-deck-home {
    width: 85%;
  }
}

@media screen and (max-width: 850px){
  .card-deck-home {
    width: 80%;
  }
}

@media screen and (max-width: 767px){
  .card-deck-home {
    width: 40%;
  }
}

@media screen and (max-width: 666px){
  .card-deck-home {
    width: 55%;
  }
}

@media screen and (max-width: 576px){
  .card-deck-home {
    width: 50%;
  }
}

@media screen and (max-width: 360px){
  .card-deck-home {
    width: 70%;
  }
}

@media (min-width: 0) {
  .card-deck.card-deck-home .card {
    flex: 0 0 calc(100% - 60px);
  }
}
@media (min-width: 576px) {
  .card-deck.card-deck-home .card {
    flex: 0 0 calc(100% - 60px);
  }
}
@media (min-width: 768px) {
  .card-deck.card-deck-home .card {
    flex: 0 0 calc(50% - 60px);
  }
}
@media (min-width: 992px) {
  .card-deck.card-deck-home .card {
    flex: 0 0 calc(50% - 60px);
  }
}
@media (min-width: 1024px) {
  .card-deck.card-deck-home .card {
    flex: 0 0 calc(33.3333333333% - 60px);
  }
}
@media (min-width: 1200px) {
  .card-deck.card-deck-home .card {
    flex: 0 0 calc(33.3333333333% - 60px);
  }
}
@media (min-width: 1679px) {
  .card-deck.card-deck-home .card {
    flex: 0 0 calc(33.3333333333% - 60px);
  }
}