#left-side-login{
  background-image: url(asset-path('green-elephant-full.png'));
}

// @media screen and (max-width: 1600px){
//   #right-side-login{
//     justify-content: center;
//     align-items: center !important;
//   }
// }

@media screen and (max-width: 1366px){
  .bounding:not(.generic-form){
    width: 90% !important;
  }
}

@media screen and (max-width: 1111px){
  .bounding:not(.generic-form){
    width: 100% !important;
  }
}

@media screen and (max-width: 992px){
  #left-side-login{
    display: none;
  }
  #right-side-login{
    padding-left: 0 !important;
  }
  .bounding:not(.generic-form){
    width: 70% !important;
  }
}

@media screen and (max-width: 576px){
  .bounding:not(.generic-form){
    width: 100% !important;
  }
}

.bounding:not(.generic-form){
  width: 70%;
}

footer{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#right-side-login{
  justify-content: center;
  align-items: center;
}

