<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Elephant - Gerenciamento Para Psicologia Clínica" %></title>
    <style>
      <%= Rails.application.assets.find_asset('application.scss').to_s %>
    </style>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>